.footer {
    height: 30rem;
    background-image: url(../../assets/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: grayscale(1)
}