
h1 {
	position: relative;
	margin: 40px auto;
	font-family: "Archivo Black", sans-serif;
	font-size: 170px;
	line-height: 1;
	font-weight: bold;
	color: transparent;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: -1px 3px 1px #fff, 2px 2px 10px #ddd, 2px -2px 0px #aaa,
	  -2px -2px 10px #bbb;
	transition: all 0.2s linear;
	cursor: pointer;
  }
  h1:hover {
	text-shadow: -1px 1px 1px #fff, 1px 1px 10px #ccc, 1px -1px 0px #bbb,
	  -1px -1px 10px #ddd;
  }

h1,h2,h3 {
    font-weight: 900;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
.header {
    height: 30rem;
    background-image: url(../../assets/superior.jpg);
    background-size: cover;
    background-position: bottom center;
}

.bg-light {
    background-color: white!important;
}

.nombre-sitio {
    font-size: 2.4rem;
    font-weight: 300;
}
.nombre-sitio span {
    font-weight: 900;
}
.nav-link {
    color: white!important;
    font: bold;
}
@media (min-width:992px) {
    .header .nav-link:first-child::before {
        display: none;
    }
    .header .nav-link::before {
     
        margin-right: 1.5rem;
    }
}


/* Nosotros */
.sobre-nosotros-bg {
    min-height: 44rem;
    background-image: url(../../assets/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}
@media (min-width:768px) {
    .sobre-nosotros-bg {
        min-height: 36rem;
    }
}

/**Modelos**/

.modelo {
    background-repeat: no-repeat;
    min-height: 40rem;
}
@media (min-width:768px) {
    .modelo {
        min-height: 30rem;
    }
}
.basico {
    background-image: url(img/modelo1.jpg);
    background-position: top right;
}

.premier {
    background-image: url(img/modelo2.jpg);
    background-position: top left;
}

.elite {
    background-image: url(img/modelo3.jpg);
    background-position: top right;
}

