#wrap-image {
	position: relative;
	overflow: hidden;
	width: 440px;
	height: 330px;
	margin: 20px auto;
	border: 10px solid #444;
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out; 
	-webkit-transition: all 0.6s ease-in-out; 
	-o-transition: all 0.6s ease-in-out;
   box-shadow: 0px 10px 20px #000;
}
#wrap-image:hover{
	border: 10px solid #444;
	-webkit-box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	box-shadow: 0 0 2px #000;
}
#wrap-image span.frames {
	position: absolute;
	background: transparent;
	width: 440px;
	height: 330px;
	padding: 0;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out; 
	-webkit-transition: all 0.6s ease-in-out; 
	-o-transition: all 0.6s ease-in-out;
}
#wrap-image .frame {
	background: rgba(0,0,0,0.1) url(#) 0 0 repeat;
	width: 100px;
	height: 100px;
	float: left;
	border: 5px solid #444;
	-webkit-box-shadow: 1px 1px 4px #000 inset;
	-moz-box-shadow: 1px 1px 4px #000 inset;
	box-shadow: 1px 1px 4px #000 inset;
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out; 
	-webkit-transition: all 0.6s ease-in-out; 
	-o-transition: all 0.6s ease-in-out;
}

#wrap-image span.frames:hover .frame {
	background: transparent;
	border: 5px solid transparent;
	-webkit-box-shadow: 0 0 0 0 transparent inset;
	-moz-box-shadow: 0 0 0 0 transparent inset;
	box-shadow: 0 0 0 0 transparent inset;
}
#wrap-image img.image {
	width: 440px;
	height: 330px;
}
#wrap-image:hover span.frames {
	-webkit-box-shadow: 0 0 5px #000 inset;
	-moz-box-shadow: 0 0 5px #000 inset;
	box-shadow: 0 0 5px #000 inset;
}